html {

    overflow: hidden;
}

body{
    background: rgba(243, 245, 252, 1);
}
#logo{

    padding: 20px;
}
.encabezado{

    padding:20px;
    margin: 10px;
}

#textaEncriptar{

    background: rgba(243, 245, 252, 1);
    border: none;
    margin: 60px;
    color: #0A3871;
    text-align: center;
    width: 577px;
    height: 48px;
    top: 168px;
    left: 240px;
    font-weight: 400;
    font-size: 40px;
    font-family: 'Inter';
    line-height: 48px; 
  
  

}

#textaEncriptar::placeholder{

    color: #0A3871;
    
}

.Rectangle1{

    width: 400px;
    margin-top: -240px;
    height: 850px;
    margin-left: 77%;
    border-radius: 32px;
    opacity: 0px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -1px #00000014;

}
.text{

    width: 336px; 
    font-family: 'Inter';
    text-align: center;
    margin-left: 50px;
}
.Rectangle1 img{


    margin-top: 55%;
    
}

.botenes{

    background-color: #0A3871;
    width: 30%;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    color: white;
    cursor: pointer;

    
}
#des{

    Background-color: #D8DFE8; 
    color: darkblue;
}
.Part-final{

    padding: 15%;
    margin-top: -600px;

}
.Part-final2{
    align-items: center;
    padding: 15%;
    color: #495057;
    margin-bottom: -1000%;
    margin-left: -200px;


}
.Part-final2 p{


    font-size: 15px;
}
#desaparecetext{

    color: #343A40; 
    height: 50px;  
    font-weight: 700; 
    font-size: 24px;
    line-height: 28.8px; 
}
#mensajeencriptado{


    font-family: 'Inter';
    text-align: center;
    margin-left: 50px;
    font-size: 50%;
    color: #495057;
    height: 58px;  
    font-weight: 400; 
    font-size: 16px; 
    line-height: 24px;
}

.copiar{
    font-family: 'Inter';
    text-align: center;
    margin-left: 150px;
    font-size: 50%;
    margin-bottom: -1000px;
    text-align: center;
    border-radius: 24px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;    
    border: 1px solid #0A3871;
    color: #0A3871;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

#botonCopiar{
    pointer-events: none;
    display: none;
}
#botenes{

    text-align: center;
    margin-left: 100px;
    margin-top: 625px;
    gap: 8px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    padding: 20px 130px 20px 100px;
    
}

#ad{

    width: 20px; 
    margin-right: 10px; 
    margin-top: -1000px;
    margin-bottom: -5px;
}

#text{




    font-family: Inter;
    font-size: 10px;
    
    
}
textarea::placeholder{
    color: #b3b3b3;
  }
  textarea:is(:focus, :valid){
    padding: 14px;
    border: 2px solid #4671EA;
  }
  textarea::-webkit-scrollbar{
    width: 0px;
  }
  